<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %>_优蓝网</title>
    <meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<meta content="telephone=no" name="format-detection" />
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  </head>
  <body>
    <h3>Welcome to mobile pages</h3>
  </body>
</html>
